<footer class="mt-auto py-3 text-center">

  {% include social.html %}
  
</footer>

{% if page.custom_js %}
{% for js_file in page.custom_js %}
    <script src='{{ site.baseurl }}/assets/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
<script>
  // Override portfolYOU's default light mode for brand new visitors
  if (localStorage.getItem("theme") === null) {
    document.documentElement.setAttribute("data-theme", "dark");
    localStorage.setItem("theme", "dark");
  }
</script>