<div class="row justify-content-center align-items-center p-4">
  <div class="col-12 text-center mt-4">

    <img src="{{ site.author.image }}" alt="{{ site.title }}" class="img-fluid wow animated zoomIn" data-wow-delay=".1s" style="width: 70%; max-width: 800px; height: auto; border-radius: 15px; margin-bottom: 60px; max-height: 60vh; object-fit: cover;">

    <p class="text-white wow animated slideInUp" data-wow-delay=".15s" style="font-size: 1.25rem; color: #ffffff;">{{ site.description }}</p>

  </div>
</div>