---
---
@import "portfolYOU";

/* Custom Homepage Styles */

/* 1. Light Mode (Default) */
/* Custom Homepage Styles */

/* 1. Light Mode (Default) - Phone Sized */
.bio-text {
  color: #212529; 
  font-size: 1rem; /* Shrinks the text for mobile */
}

/* Desktop Sized */
@media (min-width: 768px) {
  .bio-text {
    font-size: 1.3rem; /* Bumps the size back up for laptops and monitors */
  }
}

/* 2. Dark Mode */
html[data-theme="dark"] .bio-text {
  color: #ffffff !important; 
}